@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: left;
}

.App-header {
  height: 80vh;
}

@layer components {
h1 {
  @apply text-darkBlue font-bold rounded-lg uppercase
}

.btn {
  @apply font-bold w-fit h-auto p-2 rounded-3xl text-lg
}

img {
  user-select: none;
  pointer-events: none;
}
}
